services:
  crop:
    image: highlightprocessing
    build: .
    volumes:
      - ./videos:/videos
    working_dir: /app
    entrypoint: ["python", "src/crop_video.py"]

  scrub_voices:
    image: highlightprocessing
    volumes:
      - ./videos:/videos
    working_dir: /app
    entrypoint: ["python", "src/scrub_voices.py"]

  process:
    image: highlightprocessing
    volumes:
      - ./videos:/videos
    working_dir: /app
    entrypoint: ["python", "src/process_one_video.py"]

  process_all:
    image: highlightprocessing
    volumes:
      - ./videos:/videos
    working_dir: /app
    entrypoint: ["python", "src/process_all_videos.py"]

  webhook:
    build:
      context: .
      dockerfile: Dockerfile.webhook
    environment:
      - IG_WEBHOOK_VERIFY_TOKEN=${IG_WEBHOOK_VERIFY_TOKEN}

  ngrok:
    image: ngrok/ngrok:latest
    restart: unless-stopped
    environment:
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}
    command: "http file-server:80 --url=${NGROK_URL}"
    ports:
      - "4040:4040"
    depends_on:
      - file-server

  file-server:
    image: nginx:alpine
    volumes:
      - ./videos:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - webhook
