services:
  crop:
    image: highlightprocessing
    build: .
    volumes:
      - ./videos:/videos
    working_dir: /app
    entrypoint: ["python", "src/crop_video.py"]

  scrub_voices:
    image: highlightprocessing
    volumes:
      - ./videos:/videos
    working_dir: /app
    entrypoint: ["python", "src/scrub_voices.py"]

  process:
    image: highlightprocessing
    volumes:
      - ./videos:/videos
    working_dir: /app
    entrypoint: ["python", "src/process_one_video.py"]

  process_all:
    image: highlightprocessing
    volumes:
      - ./videos:/videos
    working_dir: /app
    entrypoint: ["python", "src/process_all_videos.py"]
