x-processing: &processing
  image: highlightprocessing
  build: .
  volumes:
    - ./videos:/videos
  working_dir: /app

services:
  crop:
    <<: *processing
    entrypoint: ["python", "src/crop_video.py"]

  scrub_voices:
    <<: *processing
    entrypoint: ["python", "src/scrub_voices.py"]

  process:
    <<: *processing
    entrypoint: ["python", "src/process_one_video.py"]

  process_all:
    <<: *processing
    entrypoint: ["python", "src/process_all_videos.py"]

  normalize:
    <<: *processing
    entrypoint: ["python", "src/normalize_audio.py"]

  instagram_upload:
    <<: *processing
    environment:
      - IG_USER_ID=${IG_USER_ID}
      - IG_ACCESS_TOKEN=${IG_ACCESS_TOKEN}
      - NGROK_URL=${NGROK_URL}
    entrypoint: ["python", "src/instagram_upload.py"]

  webhook:
    build:
      context: .
      dockerfile: Dockerfile.webhook
    environment:
      - IG_WEBHOOK_VERIFY_TOKEN=${IG_WEBHOOK_VERIFY_TOKEN}

  ngrok:
    image: ngrok/ngrok:latest
    restart: unless-stopped
    environment:
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}
    command: "http file-server:80 --url=${NGROK_URL}"
    ports:
      - "4040:4040"
    depends_on:
      - file-server

  file-server:
    image: nginx:alpine
    volumes:
      - ./videos:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - webhook
